.aqua {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #acbddc 0%, #00a2ff 29%, #75ff19 50%, #da0b0b 100%);
    background-size: 200% auto; /* This is required for the animation */
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveGradient 2s linear infinite; /* Fixed: Added animation name */
    display: inline-block;
  }

  /* background-image: linear-gradient(-225deg, #091f49 0%, #00a2ff 29%, #eb4d22 50%, #fbbe15 100%); */