.example-5 {
  position: relative;
}

.example-5 svg {
  position: absolute;
}

.example-5 .line {
  stroke-dasharray: 260;
  stroke-width: 4px;
  fill: transparent;
  stroke: white;
  animation: svgAnimation 10s linear infinite;
}

@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

